 .mat-typography h1 {
	font-size: 20px !important;
	font-weight: 600 !important;
}
 .mat-dialog-container {
	background-color: #f8f6f2 !important;
	font-family: bookmania;
	font-size: 16px;
}
 .mat-dialog-container button {
	margin-top: 32px;
	float: right;
}
