<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about us</ion-title>
  </ion-toolbar>
</ion-header>
<div class="container">
  <div class="page_text">
    <p>
      Unlock a world of opportunities on our classifieds platform "onlist.ae"
      where your listings stand out. From the dynamic realms of cars and
      properties to the essential needs of jobs, maids, and furniture, not to
      mention specialized markets like car accessories and motors, our platform
      is your gateway to reaching a vast and engaged audience. Elevate your
      business and connect with potential buyers today. Register now to be part
      of a community where excellence meets exposure.
    </p>
  </div>
  </div>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about us</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
