

<div class="banner">
  <img src="../../assets/home_banner.png" alt="home banner" />
</div>
<div class="container">
  <section class="gray_sec">
    <h1>UNDER CONSTRUCTION</h1>
    <h2>SITE NEARLY READY</h2>
    <img src="../../assets/progress_img.png" alt="UNDER CONSTRUCTION" />
  </section>
  
  
</div>
<section class="services_sec">
  <div class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/services-img.png" alt="services" />
      </ion-col>
      <ion-col>
        <img src="../../assets/services.png" alt="services" />
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</section>